<template>
  <q-layout>
    <div slot="header" class="toolbar">
      <q-toolbar-title :padding="0">
        App
      </q-toolbar-title>
    </div>
  
    <!--
                                                      Replace following "div" with
                                                      "<router-view class="layout-view">" component
                                                      if using subRoutes
                                                    -->
    <div class="layout-view">
      <div class="layout-padding">
        <video id="video" autoplay></video>
        <!--<p>{{debug}}</p>-->
        <!--<button class="primary big" @click="switchCamera()">Switch camera</button>-->
      </div>
    </div>
    <!--<div class="layout-view">
                                        <div class="layout-padding">
                                          <p>Testkgvlkfjgldksjlsdfjkgljklgkj ldfkgjldfkgjlsd ldsfkgjldfkjglsdfkgjlk</p>
                                        </div>
                                      </div>-->
    <button class="primary circular absolute-bottom-right" :class="{'disabled' : !buttonCall}" :disabled="!buttonCall" @click="switchCamera()" style="right: 18px; bottom: 18px;">
      <i>switch_video</i>
    </button>
    <button class="green circular absolute-bottom-left" v-if="buttonCall" @click="call()" style="left: 18px; bottom: 18px;">
      <i>call</i>
    </button>
    <button class="red circular absolute-bottom-left" v-else @click="callEnd()" style="left: 18px; bottom: 18px;">
      <i>call_end</i>
    </button>
  </q-layout>
</template>

<script>
import { Platform } from 'quasar'
import { Cookies } from 'quasar'
import { Dialog } from 'quasar'
const Axios = require('axios')
const Nes = require('nes/client')
const WS_PATH = 'wss://remassist.com'
const client = new Nes.Client(WS_PATH)
const SERVERS = {
  iceServers: [
    {
      urls: 'stun:149.56.135.41:3478'
    }
  ]
}

let videoElement
let deviceList
let selectedDevice
let selectedDeviceIndex
let myPeerConnection
let localStream

client.connect((err) => {
  if (err) {
    console.error(err)
  }

  client.onUpdate = function (msg) {

    switch (msg.msgType) {
      case 'answer':
        // console.warn(msg.sdp)
        sdpAnswerHandler(msg)
        break
      case 'answerCandidate':
        newIceCandidateHandler(msg)
      default:
        break
    }
  }

})


function sendToServer(msg) {
  let msgJson = JSON.stringify(msg)
  client.message(msgJson, (err, messageFromServer) => {
    if (err) {
      console.error(err)
    }
  })
}

function createPeerConnection() {
  myPeerConnection = new RTCPeerConnection(SERVERS)
  window.myPeerConnection = myPeerConnection
  myPeerConnection.onnegotiationneeded = negotiationNeededHandler
  // myPeerConnection.onaddstream = addStreamHandler
  myPeerConnection.onicecandidate = iceCandidateHandler
}

function sdpAnswerHandler(peerData) {

  // let localStream = null
  let desc = new RTCSessionDescription(peerData.sdp)
  // let constrains = {
  //   video: false,
  //   audio: false
  // }

  // createPeerConnection()
  console.warn(desc)
  myPeerConnection.setRemoteDescription(desc)
    // .then(() => {
    //   return myPeerConnection.createAnswer()
    // })
    // .then((answer) => {
    //   return myPeerConnection.setLocalDescription(answer)
    // })
    // .then(() => {
    //   let msg = {
    //     toSocketId: socketId,
    //     msgType: 'answer',
    //     sdp: myPeerConnection.localDescription
    //   }

    //   sendToServer(msg)
    // })
    .catch((err) => {
      console.error(err)
    })

}

function iceCandidateHandler(evt) {

  if (evt.candidate) {
    sendToServer({
      socketType: 'streamer',
      msgType: 'candidate',
      candidate: evt.candidate
    })
  }
}

function newIceCandidateHandler(peerData) {
  let candidate = new RTCIceCandidate(peerData.candidate)
  // console.warn(candidate)
  myPeerConnection.addIceCandidate(candidate)
    .catch((err) => {
      console.error(err)
    })
}

function negotiationNeededHandler() {
  myPeerConnection.createOffer()
    .then((offer) => {
      return myPeerConnection.setLocalDescription(offer)
    })
    .then(() => {
      sendToServer({
        socketType: 'streamer',
        msgType: 'offer',
        sdp: myPeerConnection.localDescription
      })
    })
    .catch((err) => {
      console.error(err)
    })
}

// function addStreamHandler() {
//   console.log(`addStreamHandler`)
// }

function getMediaDevices() {
  navigator.mediaDevices.enumerateDevices()
    .then((devices) => {
      return devices.filter((device) => {
        return device.kind === 'videoinput'
      })
    })
    .then((_deviceList) => {
      deviceList = _deviceList
      let constraints
      if (deviceList.length) {
        selectedDevice = deviceList[0]
        selectedDeviceIndex = 0
        constraints = {
          audio: false,
          video: { deviceId: selectedDevice.deviceId }
        }
      } else {
        constraints = null
      }
      return constraints
    })
    .then((constraints) => {
      getStream(constraints)
    })
    .catch((err) => {
      console.error(err)
    })
}

function getStream(constraints) {
  if (constraints) {
    navigator.mediaDevices.getUserMedia(constraints)
      .then((stream) => {
        videoElement.srcObject = localStream = stream
      })
      .catch((err) => {
        console.error(err)
      })
  }
}


export default {
  data() {
    return {
      buttonCall: true,
      cookieIsSet: true
    }
  },
  mounted: function () {

    if (Platform.is.cordova) {
      const permissions = cordova.plugins.permissions
      permissions.requestPermission(permissions.CAMERA, status => { }, () => { })
    }

    if (!Cookies.has('sid')) {
      Dialog.create({
        title: 'Register streamer',
        message: 'Please enter your registered email.',
        form: {
          email: {
            type: 'textbox',
            label: 'Email',
            model: ''
          }
        },
        buttons: [
          {
            label: 'Register',
            handler(data) {
              Axios.post('https://remassist.com/api/streamers/register', {
                email: data.email,
              })
                .then((response) => {
                  console.warn(response)
                })
                .catch((err) => {
                  if (err.response) {

                    console.warn(err.response.data.statusCode)
                  } else {

                    console.warn('No response from server')
                  }
                })
            }
          }
        ]
      })
    }

    videoElement = document.getElementById('video')
    getMediaDevices()

  },
  methods: {

    call() {
      this.buttonCall = false

      createPeerConnection()

      if (localStream) {
        myPeerConnection.addStream(localStream)
      }

    },

    callEnd() {

      sendToServer({
        socketType: 'streamer',
        msgType: 'endCall'
      })

      this.buttonCall = true
    },

    switchCamera() {

      if (localStream) {
        localStream.getTracks().forEach(track => {
          track.stop()
        })
      }

      if (selectedDevice) {

        let nextIndex = selectedDeviceIndex + 1
        let constraints

        if (nextIndex <= (deviceList.length - 1)) {
          selectedDevice = deviceList[nextIndex]
          selectedDeviceIndex = nextIndex
          constraints = {
            audio: false,
            video: { deviceId: selectedDevice.deviceId }
          }
          // this.$forceUpdate()

        } else {
          selectedDevice = deviceList[0]
          selectedDeviceIndex = 0
          constraints = {
            audio: false,
            video: { deviceId: selectedDevice.deviceId }
          }
          // this.$forceUpdate()
        }
        getStream(constraints)
      }
    }
  }
}
</script>

<style>
video {
  height: 100%;
  width: 100%;
}
</style>
